<h2>Suppose to see the view here</h2>
<h5>Temporarily left as maintenance</h5>
<script type="html/template" id="SearchResultTemplate">
  <%%= flight_num %> | <%%= origin %> - <%%= destination %> | <%%= flight_datetime %> | <%%= airplane_id %>
</script>
