<br />
<div id="flightsearch">
  <h2>Search available flights</h2>
  <div id="searchform">
  </div>
  <br />
  <div id="searchresult" style="width: 80%; margin: 3px auto;"></div>
</div>

<div id="plane"></div>

<script type="html/template" id="SearchResultTemplate">
  <%%= flight_num %> | <%%= origin %> -> <%%= destination %> | <%%= flight_datetime %> | <%%= airplane_id %>
</script>

<script type="html/template" id="SearchFormTemplate">
  <div>
    <input type="text" id="origin" placeholder="Origin" />
    -
    <input type="text" id="destination" placeholder="Destination" />
    <button>Filter</button>
  </div>
</script>

<script type="html/template" id="FlightReservationTemplate">
  <h2>Suppose to see the view here</h2>
  <h5>Remember about the seating and it needs to be there down</h5>
</script>
