<br />

<div id="flightsearch">
  <h2>Search available flights</h2>
  <div id="searchform">
  </div>
  <br />
  <div id="searchresult" style="width: 80%; margin: 3px auto;"></div>
</div>

<script type="html/template" id="SearchResultHeaderTemplate">
  <table>
    <thead>
      <tr>
        <th>Flight Number</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Date</th>
        <th>Time</th>
        <th>Airplane Name</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</script>

<script type="html/template" id="SearchResultTemplate">
  <tr>
    <td><%%= flight_num %></td>
    <td><%%= origin %></td>
    <td><%%= destination %></td>
    <td><%%= flight_date %></td>
    <td><%%= flight_time %></td>
    <td><%%= airplane_name %></td>
  </tr>
</script>

<script type="html/template" id="SearchFormTemplate">
  <div>
    <input type="text" id="origin" placeholder="Origin" />
    -
    <input type="text" id="destination" placeholder="Destination" />
    <button>Filter</button>
  </div>
</script>

<script type="html/template" id="FlightReservationTemplate">
  <h2>Suppose to see the view here</h2>
  <h5>Remember about the seating and it needs to be there down</h5>
</script>
