/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// @import "materialize"

* {
  box-sizing: border-box;
}

html {
  background-image: url("fly.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  margin: 0;
  font-family: "Cantarell" ; // Lato', sans-serif; //  'Roboto'
  color: white;
}

li {
  display: inline-block;
  padding: 18px;
  border: 1px solid white;
  border-radius: 2px;
  margin-right: 30px;
}

a {
  text-decoration: none;
  font-size: 1.1em;
  color: white;
}

.nav_right {
  float: right;
}

h1 {
  font-size: 2.6em;
  margin-top: 100px;
}

.wrapper {
  text-align: center;
}

button {
  text-transform: uppercase;
  font-size: 0.9em;
  font-family: "Roboto";
  font-weight: bold;
  color: #A31621;
  background-color: white;
  border: white;
  outline: none;
  padding: 15px 20px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  margin-top: 20px;
}

button:hover {
  font-size: 1em;
  padding: 16px 21px;
  transition: 0.7s;
}

.white_board {
  background-color: white;
  border-radius: 4px;
  opacity: 0.96;
  margin: auto;
  width: 1000px;
  min-height: 30vh;
  margin-top: 100px;
  padding: 40px;
  display: none;
  color: gray;
}


div#plane {
/*   width: 500px; */
  padding: 10px;
  overflow: hidden;
}

.row {
  clear: both;
  margin-bottom: 10px;
  overflow: hidden;
  display: block;
}

div.seat {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  float: left;
  background: dodgerblue;
}
